.box__crud{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-items: center;
    position: relative;
    bottom: 20px;
    
   
   
}

.btn__Crud{
    
    background-color: #36edd2;
    border-radius: 10px;
   padding: 40px;
   font-size: 20px;
   font-weight: 600;
   font-family: sans-serif;
   color: #fff;
   text-shadow: 2px 2px 10px black;
   cursor: pointer;
   
   
   
   }
   .btn__Crud:hover{
    color: #FFF323;
    border: solid 2px #bfff00;
   }
   
.Form-User{
    margin: auto;
    outline: solid 1px black;
    width: 400px;
   position: fixed;
   display: flex;
   justify-content: center;
   background-color: #36edd2;
   flex-direction: column;
   color: #fff;
   font-family: sans-serif;
   
}
.Form__title{
    text-align: center;
    margin: 20px;
}
.input-user1{
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 3px;
    background-color: #30c4ae;
    border: none;
    
}
.input-user2{
    width: 300px;
    height: 30px;
    margin: 10px;
    
    border-radius: 3px;
    background-color: #30c4ae;
    border: none;
}
.input-user3{
    width: 300px;
    height: 30px;
    margin: 10px;
    
   border-radius: 3px;
   background-color: #30c4ae;
   border: none;
}
.input-user4{
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 3px;
    background-color: #30c4ae;
    border: none;
   
    
}
.input-user5{
    width: 300px;
    height: 30px;
    margin: 10px;
    
    border-radius: 3px;
    background-color: #30c4ae;
    border: none;
}
.input-userb{
    width: 300px;
    height: 30px;
    margin: 10px;
    
    border-radius: 3px;
    background-color: #30c4ae;
    border: none;
}
.input_hov:hover{
    background-color: #7cdacc;
}
.btn__form{
    height: 60px;
    border: 1px solid;
    background-color: #7cdacc;
    cursor: pointer;
    color: #fff;
    font-family: sans-serif;
    font-size: 25px;
}
.btn__form:hover{
    color: #bfff00;
}
.box-input-user{
   
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 20px;
    cursor: pointer;
}
.contedorUser{
  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
   
    
}
.cardUser{
    background-color: #30c4ae;
    border: solid 3px #7cdacc;
    width: 320px;
    height: 360px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.cardUser:hover{
    border: solid 3px #bfff00;
}
.circle__user{
    width: 100px;
    height: 100px;
    border-radius: 50% ;
    border:  solid 6px #7cdacc;
    background-color: #30c4ae;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    margin-left: 35%;
    margin-top: 20px;
    top: 20px;
}
.fa-user{
    font-size: 50px;
    color: #fff;
   
}
.name__User{
    font-family: sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    padding-top: 26px;
    color: #fff; 
    text-shadow: 2px 2px 10px #0006;
}
.box__info_user{
    list-style:none ;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    text-shadow: 2px 2px 10px #0006;
}
.fa-gift{
    margin-right: 10px;
    text-shadow: 2px 2px 10px #0006;
}
.line__btn{
    border-bottom: #fff;
    background-color: #7cdacc;
    
    margin-top: 20px;
    padding-top: 3px;
    border-radius: 10px;
}
.container__btn__user{
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.btn_user{
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    cursor: pointer;
    background-color: #7cdacc;
    color: #fff;
}
.btn_user:hover{
  
    color: #bfff00;
   
   
    
}